doctype html
html(lang="ko")
    head
        title #{pageTitle} | #{siteName}
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
        link(rel="stylesheet", href="/static/css/styles.css")

    body
        include partials/header                
        main.my-main
            block content
        include partials/footer
    block scripts 
        script(src="/static/js/main.js")
        script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")