extends base

block content
    form(method="POST")
            input(placeholder="Name", name="name", type="text", required, value=loggedInUser.name)
            input(placeholder="Phone Number", name="phoneNumber", type="text", required, value=loggedInUser.phoneNumber)
            input(type="submit", value="Update Profile")
        
            hr
            if !loggedInUser.socialOnly
                a(href="change-password") Change Password &rarr;