extends base

block content
    .login-page
        .login-card
            if errorMessage
                span=errorMessage
            h5 Sign in
            form(method="POST", action="/login")
                input(placeholder="이메일", name="email", type="text", required)
                br
                input(placeholder="비밀번호", name="password", type="password", required)
                br
                input(type="submit", value="Sign in")
            hr
            p or
            a(href="/users/naver")
                img(height='50' src="http://static.nid.naver.com/oauth/small_g_in.PNG", alt="Login with Naver")
            // include partials/social-login
            div.auth-switch
                span 신규회원 이라면&nbsp
                a(href="/join") 회원가입 &rarr;

