extends base
include mixins/review

block content
    div.reviewMain
        div.reviewTitle
            h2 인테리어 마켓의 시공 리뷰를 구경해 보세요!
        div.reviewWrite
            button 
                a(href="/review/create") 후기쓰러 가기(1,000P)
        div.reivews
            each review in reviews 
                +review(review)
