footer.footer_section
    .container
        .row
            .col-md-4.footer-col
                .content-center
                    .footer_contact
                        h4 Contact Us
                        .contact_link_box
                            a(href="")
                                i.fa.fa-map-marker(aria-hidden="true")
                                span 서울시 마포구 
                            a(href="")
                                i.fa.fa-phone(aria-hidden="true")
                                span Call +82 010-0000-0000
                            a(href="")
                                i.fa.fa-envelope(aria-hidden="true")
                                span interior_market@gmail.com
            .col-md-4.footer-col
                .content-center
                    .footer_detail
                        a.footer-logo(href="") 
                            h4 Interior Market
                        p 필요한 만큼, 원하는 시간에 시공하고 싶은 <br> 현명한 소비자를 위해 탄생했습니다. 

            .col-md-4.footer-col
                .content-center
                    h4 Opening Hours
                    p Mon - Fri
                    p 10.00 Am -6.00 Pm
        .footer-info
            p 
                span#displayYear &copy; #{new Date().getFullYear()}  
                |  All Rights Reserved By &nbsp
                a(href="/") Interior Market
