header
    a(href="/")
        img(src="../../interio_market_proto/img/logo/logo_orange.png")
    nav
        div#menu
            button 서비스 소개
            button 시공 상품
            button 
                a(href="/review") 후기
            button 자재
            button 
                a(href="/portfolio") 포트폴리오 
        hr
        //div#login
            //loggedin
            //button
                //a(href="/login") 로그인
            //button
            //    a(href="/join") Join
            //button 장바구니
            //loggedout
            //button 로그아웃 
            //button 장바구니
