extends ../base
include ../mixins/review

block content
    div 
        h3 #{loggedInUser.name}님의 Profile
    hr
    div 
        h4 #{loggedInUser.email}
        h4 #{loggedInUser.phoneNumber}
    each review in user.reviews 
        +review(review)